h1 {
    padding: 2rem;
    text-align: center;
}

/* CONTAINERS LAYOUT */
.container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100vw;
    max-width: 992px;
    padding: 2rem;
    border-radius: 1.5rem;
    background-color: white;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.output-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
    border-radius: 1rem;
    background-color: var(--vd-cyan);
}

@media (min-width: 576px) {
    .container {
        flex-direction: row;
        padding: 3rem;
    }

    .form-container,
    .output-container {
        width: 45%;
        flex-grow: 1;
    }
}

/* FORM */
h4 {
    font-size: 1rem;
    color: var(--d-cyan)
}

/* Number inputs */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

input[type='number'] {
    width: 100%;
    margin-top: .5rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    font-family: inherit;
    font-size: inherit;
    color: var(--vd-cyan);
    text-align: right;
}

input[type='number']:focus {
    outline: .1rem solid var(--main-cyan)
}

input[type='number']:hover {
    cursor: pointer;
}

#bill-input {
    background: var(--vl-cyan) url('./images/icon-dollar.svg') no-repeat 1rem center;
}

#people-input {
    background: var(--vl-cyan) url('./images/icon-person.svg') no-repeat 1rem center;
}

form>div:last-child {
    position: relative;
}

.alert {
    position: absolute;
    top: 0;
    right: 0;
    color: var(--alert);
}

/* Tip selection */
.tip-input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    width: 100%;
    margin-top: 1rem;
}

.tip-input-container>label {
    width: 45%;
    flex-grow: 1;
}

.tip-input-container>label:hover {
    cursor: pointer;
}

@media (min-width: 992px) {
    .tip-input-container>label {
        width: 30%;
    }
}

input[type='radio'] {
    width: 0;
    height: 0;
    position: absolute;
}

input[type='radio']+span {
    display: block;
    padding: .5rem;
    border-radius: .5rem;
    background-color: var(--vd-cyan);
    color: var(--vl-cyan);
    text-align: center;
}

#custom-radio+span {
    background-color: var(--vl-cyan);
    color: var(--d-cyan)
}

.tip-input-container span:hover {
    background-color: var(--l-main-cyan);
    color: var(--vd-cyan)
}

.tip-input-container input:checked+span {
    background-color: var(--main-cyan);
    color: var(--vd-cyan)
}

#custom-input {
    display: block;
    margin-top: 0;
    padding: .5rem;
    background: var(--vl-cyan)
}

/* OUTPUT */
.output>div {
    display: flex;
    justify-content: space-between;
    margin: 1rem 0;
}

.output h4 {
    color: var(--vl-cyan);
}

.output h4>span {
    display: block;
    font-size: .8rem;
    color: var(--m-cyan);
}

.output-number {
    font-size: 2rem;
    color: var(--main-cyan)
}

.btn {
    width: 100%;
    margin-top: .5rem;
    padding: .5rem 1rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--main-cyan);
    color: var(--vd-cyan);
    font-size: 1.5rem;
    font-weight: inherit;
    text-align: center;
    text-transform: uppercase;
    font-family: inherit;
}

.btn:hover {
    background-color: var(--l-main-cyan);
    cursor: pointer;
}

/* FOOTER */
footer {
    place-self: end center;
    font-size: .6rem;
}

footer a {
    color: hsl(228, 45%, 44%);
}